{% extends 'base.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
{{ super() }}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Цены</h1>
    </div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for el in data %}
    <div class="col">

        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ el.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ el.price
              }}<small class="text-muted fw-light"> руб/мес </small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Материалы для обучения</li>
              <li>Более 5000 практических задач</li>
              <li>Доступ к форуму с обсуждениями</li>
              <li>Чат техподдержки</li>
            </ul>
            <a href="" class="w-100 btn btn-lg btn-outline-primary">Купить</a>
          </div>
        </div>
      </div>
  {% endfor %}
    </div>
</div>



{% endblock %}