{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<div class="container">
    <p>Автор: {{ author }}</p>
    <p>
        Часто в интернете при регистрации на различных сайтах, форумах, вконтакте, играх, майл.ру, wifi нас просят выбрать логин и пароль. С логином всё понятно, а как же быть с паролем? Использовать пароль в виде даты своего рождения или номера телефона не безопасно. Как же быть? Как защитить себя? Очень просто сгенерировать хороший взломостойкий пароль с помощью нашего онлайн генератора паролей. Достаточно всего лишь один раз запомнить пароль и вам больше не когда не придётся думать о своей безопасности в сети.
    </p>
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>

</div>

</body>
</html>